
<%= form_tag :controller => 'users', :action => 'search', :method => 'get' do %>
	<div class="textfield">
		<%= text_field_tag :search, params[:search], :id => 'search_field' %>
	
		<%= submit_tag "Find Friends", :name => nil %>
	</div>
<% end %>

