<% provide(:pagename, "#{@possessive_name} Friends") %>
<div class="row">
	<h1> Friends </h1>
	
	<% if @friends.any? %>
		<ul class="users">
			<%= render @friends %>
		</ul>
	<% end %>
	
	<h1> Friend Requests </h1>
	
	<% if @pending_friends.any? %>
		<u1 class="users" %>
			<%= render 'pending_friend_form' %>
		</u1>
	<% end %>
		
</div>
