<% provide(:pagename, "#{@possessive_name} Friends") %>
<div class="row">
	<h1> Friends </h1>
	
	<% if @friends.any? %>
		<ul class="users">
			<div class="row">
				<% @friends.each do |friend| %>
					<div class="row">
						<div class="span4">
							<li>
								<%= link_to friend.name, friend %>
							</li>
						</div>
						<div class="span1">
							<%= form_for(current_user.relationships.find_by(friend_b_id: friend.id), html: {method: :delete}) do |f| %>
								<%= f.submit "Unfriend", class: "btn btn-small" %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</ul>
	<% end %>
	
	<h1> Friend Requests </h1>
	
	<% if @pending_friends.any? %>
		<u1 class="users" %>
			<%= render 'pending_friend_form' %>
		</u1>
	<% end %>
		
</div>
