<% provide(:pagename, 'Friends') %>

<h1> Friends </h1>

	<p>
		This is the facebook Friend list, it will show a list of the
		users current friends as well as a list of pending friend
		reqeusts.
	</p>
</h1>
