<% provide(:pagename, 'Friend Search') %>

<h1>Friend Search</h1>
	<p>
		This is the Friend Search page.  Users can enter search terms
		(specifically a user's last name) and a list of users with that
		last name will appear here.  The user can then easily send 
		that user a friend request.
	</p>
</h1>
