<% provide(:intro, 'Welcome to') %>
<% provide(:pagename, 'Log In or Sign Up!') %>


<html>
	<%= render 'layouts/title' %>
	<body>
		<div class="center hero-unit">
			<h1>facebook</h1>
				<h2>
					Connect with friends and share your interests on facebook!
				</h2>
			</h1>
			<%= yield %>
		</div>
	</body>
</html>

