<% provide(:pagename, 'Newsfeed') %>

<body>
	<h1>Newsfeed</h1>
		<p>
			This is the users Newsfeed.  It is a compilation of all posts
			that the user and his friends have made.  It will be possible
			for the user to delete his own posts from this page.
		</p>
</body>
</html>
