<% provide(:pagename, 'Profile Page') %>

<h1>Profile Page</h1>
	<p>
		This is the users profile page, it will have all information
		in a displayable format for the user and the user's friends.
	</p>
</h1>
