<% provide(:pagename, 'Profile Preferences') %>
<body>
	<h1>Profile Preferences</h1>

		<p> This will be the profile preferences page where users can 
		decide what information they want to display to their friends.
		</p>
	</h1>
</body>
