<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "facebook", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Newsfeed", newsfeed_path %></li>
					<li><%= link_to "Friends", friends_path %></li>
					<li><%= link_to "Profile", profile_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
